<!DOCTYPE html>
<html>
<head>
  <title>Add</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="nav">
  <a href="/">Home</a>
  <a href="/students">Students</a>
</div>

<h1>Add Student</h1>

<div class="form-container">
<form action="/add" method="POST">

  <input name="student_id" placeholder="Student ID">
  <input name="full_name" placeholder="Full Name">
  <input name="course" placeholder="Course">
  <input name="year_level" placeholder="Year Level">
  <input name="email" placeholder="Email">

  <button type="submit">Save</button>

</form>
</div>

</body>
</html>